* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./imgs//backgrounds/compressedworkback.jpeg");
}

a {
    color: white !important;
    text-decoration: none;
}


/* Heading Code */
.header {
    padding: 30px;
    background-color: rgb(6, 139, 139);
    color: rgb(255, 255, 255);
}

.header h1 {
    display: inline-flex;
    font-size: 30px;
}

.header div {
    display: inline-flex;
    float: right;
    padding-top: 10px;
    font-size: 30px;
}


.header div ul {
    list-style-type: none;
}

.header div ul li {
   display: inline-flex;
   margin-right: 20px;
}

/* Main Code for examples */
.examples {
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.examples h1, h2{
    color: black !important;
    background-color: rgb(168, 168, 168);
    max-width: fit-content;
    margin: 25px auto;
}

.examples h3 {
    color: blue !important;
    background-color: rgb(168, 168, 168);
    max-width: fit-content;
    margin: 25px auto;  
}

/* Footer Code */

.footer {
    display: flex;
    margin-top: 70px;
    padding: 35px;
    background-color: rgb(6, 139, 139);
    color: rgb(255, 255, 255);
    justify-content: center;
}

/* Screen adjustments */
@media screen and (max-width: 768px) {

    .header {
        display: table-header-group;
        background-color: rgb(6, 139, 139);
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    .header h1 {
         font-size: 20px;
    }
        
    .header div {
        font-size: 20px;
    }
        
    .header div ul {
        list-style-type: none;
    }

    /* Footer Code */
    .footer {
        padding: 90px;
        background-color: rgb(6, 139, 139);
        color: rgb(255, 255, 255);
        justify-content: center;
        font-size: 15px;
    }
    
}