* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./imgs/workback.jpeg");
}

/* Heading Code */
.header {
    padding: 30px;
    background-color: rgb(6, 139, 139);
    color: rgb(255, 255, 255);
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header div {
    float: right;
    padding-top: 10px;
    font-size: 30px;
}


.header div ul {
    list-style-type: none;
}

.header div ul li {
   display: inline-block;
   margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}



/* Footer Code */

.footer {
    position: absolute;
    width: 100%;
    padding: 40px;
    background-color: rgb(6, 139, 139);
    color: rgb(255, 255, 255);
    bottom: 0;
}

.footer h3 {
    text-align: center;
}